.item{
    display: flex;
    justify-content: left;
    padding: 5px;
    align-content: center;
}

.middle{
    margin-left: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#title{
    color: rgb(21, 49, 58);
    font-weight: bold;
}

.description{
    font-weight: 400;
    font-style: italic;
}

.description > p{
    margin-top: 1%;
}

.extra{
color: rgb(66, 65, 64);
display: flex;
align-items: center;
}

.avatar{
    margin-left: 15px;
}

.votes{
    font-size: 30px;
}

.up{
    color: rgb(214, 18, 18);
    cursor: pointer;
}

